<%= render partial: "notifications" %>

<h1>Your Notes</h1>
<%= render partial: "notes/index" %>

<h1>Your Notebooks</h1>
<%= render partial: "notebooks/index" %>
<%= link_to "Add New Notebook", new_user_notebook_url(current_user) %>

<h1>Your Tags</h1>
<%= render partial: "tags/index" %>
<%= link_to "Add New Tag", new_user_tag_url(current_user) %>

<h1>Your Friends</h1>
<%= render partial: "users/friends" %>
<%= link_to "View All Users", users_url %>