<section class="notes-list">
  <div class="notes-list-header"><%= @notebook.name %></div>
  <ul class="notes">
    <% @notebook.notes.each do |note| %>
      <li>
        <a href="<%= notebook_url(@notebook, note_id: note.id) %>">
          <%= render partial: "notes/preview", locals: { note: note } %>
        </a>
      </li>
    <% end %>
  </ul>
  <ul class="notebook-options">
    <li>
      <%= render partial: "notes/new", locals: { notebook: @notebook } %>
    </li>
    <li>
      <%= button_to "Edit Notebook",
        edit_notebook_url(@notebook), method: :get %>
    </li>
    <li>
      <%= button_to "Delete Notebook",
        notebook_url(@notebook), method: :delete %>
    </li>
  </ul>
</section>

</div> <!-- closes "left-absolute div" -->

<% if @note || @notebook.notes.first %>
  <%= render partial: "notes/show",
    locals: { note: @note || @notebook.notes.first } %>
<% end %>