<section class="notes-list">
  <div class="notes-list-header"><%= @notebook.name %></div>
  <ul class="notes">
    <% @notebook.notes.each do |note| %>
      <li>
        <a href="<%= user_note_url(current_user, note) %>">
          <%= render partial: "notes/preview", locals: { note: note } %>
        </a>
      </li>
    <% end %>
  </ul>
  <ul class="notebook-options">
    <li>
      <%= render partial: "notes/new", locals: { notebook: @notebook } %>
    </li>
    <li>
      <%= button_to "Edit Notebook",
        edit_user_notebook_url(current_user, @notebook), method: :get %>
    </li>
    <li>
      <%= button_to "Delete Notebook",
        user_notebook_url(current_user, @notebook), method: :delete %>
    </li>
  </ul>
</section>