<section class="comments">
  <header class="comments-header group">
    <div class="note-show-header-left">
      <i class="fa fa-comments"></i>&nbsp;
      Comments
    </div>
  </header>
    <% if comments.count == 0 && !params[:new_comment] %>
      <div class="comment-list-text">
        No comments
      </div>
    <% end %>
  <ul class="comments-list">
    <% comments.each do |comment| %>
      <li>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-info group">
          <div class="comment-info-left">
            Posted by <%= comment.author.username %>
            <%= time_ago_in_words(comment.created_at) %> ago
          </div>
          <div class="comment-info-right">
            <% if comment.author == current_user %>
              <form action="<%= comment_url(comment) %>" method="post">
                <%= auth_token %>
                <input type="hidden" name="_method" value="delete">
                <button class="note-show-button comment">
                  DELETE&nbsp;
                  <i class="fa fa-trash-o"></i>
                </button>
              </form>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if params[:new_comment] %>
    <%= render partial: "comments/form", locals: { note: note } %>
  <% else %>
    <div class="new-comment">
      <a href="<%= request.fullpath + "&new_comment=true" %>">
        <i class="fa fa-plus"></i>&nbsp;
        New Comment
      </a>
    </div>
  <% end %>
</section>