<section class="comments">
  <div class="comments-header">
    Comments
  </div>
    <% if comments.count == 0 && !params[:new_comment] %>
      <div class="no-comments">
        No comments
      </div>
    <% end %>
  <ul class="comments-list">
    <% comments.each do |comment| %>
      <li>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-info">
          Posted by <%= comment.author.username %> at <%= comment.created_at %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if params[:new_comment] %>
    <%= render partial: "comments/form", locals: { note: note } %>
  <% else %>
    <div class="new-comment-link button">
      <a href="<%= user_notebook_url(current_user, note.notebook, note_id: note.id, new_comment: true) %>">
        Add New Comment
      </a>
    </div>
  <% end %>
</section>