<section class="comments">
  <div class="comments-header">
    Comments
  </div>
    <% if comments.count == 0 && !params[:new_comment] %>
      <div class="no-comments">
        No comments
      </div>
    <% end %>
  <ul class="comments-list">
    <% comments.each do |comment| %>
      <li>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-info group">
          <div class="comment-info-left">
            Posted by <%= comment.author.username %> at <%= comment.created_at %>
          </div>
          <div class="comment-info-right">
            <% if comment.author == current_user %>
            <%= button_to "Delete Comment", comment_url(comment),
              method: :delete %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if params[:new_comment] %>
    <%= render partial: "comments/form", locals: { note: note } %>
  <% else %>
    <div class="new-comment">
      <a href="<%= request.path + "?note_id=#{note.id}&new_comment=true" %>">
        <i class="fa fa-plus"></i>&nbsp;
        New Comment
      </a>
    </div>
  <% end %>
</section>