<ul>
  <li><em>Title:</em> <%= @note.title %></li>
  <li><em>Author:</em> <%= @note.author.username %></li>
  <li><em>Created At:</em> <%= @note.created_at %></li>
  <li><em>Updated At:</em> <%= @note.updated_at %></li>
  <li>
    <em>Notebook:</em>
    <a href="<%= user_notebook_url(current_user, @note.notebook) %>">
      <%= @note.notebook.name %>
    </a>
  </li>
  <li>
    <em>Tags:</em>
    <% tags = @note.tags.map do |tag| %>
      <% "<a href='#{user_tag_url(current_user, tag)}'>#{tag.name}</a>" %>
    <% end.join(", ").html_safe %>
    <%= tags %>
  </li>
</ul>