<ul class="@note-info">
  <li><span class="@note-info-field">Title:</span> <%= @note.title %></li>
  <li><span class="@note-info-field">Author:</span> <%= @note.author.username %></li>
  <li><span class="@note-info-field">Created At:</span> <%= @note.created_at %></li>
  <li><span class="@note-info-field">Updated At:</span> <%= @note.updated_at %></li>
  <li>
    <span class="@note-info-field">Notebook:</span>
    <a href="<%= notebook_url(@note.notebook) %>">
      <%= @note.notebook.name %>
    </a>
  </li>
  <li>
    <span class="@note-info-field">Tags:</span>
    <% tags = @note.tags.map do |tag| %>
      <% "<a href='#{tag_url(tag)}'>#{tag.name}</a>" %>
    <% end.join(", ").html_safe %>
    <%= tags %>
  </li>
  <li><%= @note.likes.count.to_s + " " + "like".pluralize(@note.likes.count) %></li>
</ul>