<section class="note-show">
  <%= render partial: "notes/show_header", locals: { note: note } %>
  <% if params[:edit] %>
    <div class="note-content">
      <%= render partial: "notes/edit", locals: { note: note } %>
    </div>
  <% else %>
    <div class="note-content">
      <div class="note-title">
          <%= note.title %>
      </div>
      <div class="note-body">
        <%= note.body %>
      </div>
    </div>
  <% end %>
  <%= render partial: "notes/comments",
    locals: { comments: note.comments, note: note } %>
</section>