<section class="notes-list">
  <div class="notes-list-header"><%= @tag.name %></div>
  <ul class="notes">
    <% @tag.notes.each do |note| %>
      <li>
        <a href="<%= user_note_url(current_user, note) %>">
          <%= render partial: "notes/preview", locals: { note: note } %>
        </a>
      </li>
    <% end %>
  </ul>
  <ul class="tag-options">
    <li>
      <%= button_to "Edit Tag",
        edit_user_tag_url(current_user, @tag), method: :get %>
    </li>
    <li>
      <%= button_to "Delete Tag",
        user_tag_url(current_user, @tag), method: :delete %>
    </li>
  </ul>
</section>