<h1>Notes Tagged With <%= @tag.name %></h1>
<ul>
  <% @tag.notes.each do |note| %>
    <li>
      <a href="<%= user_note_url(current_user, note) %>">
        <%= note.title %>
      </a>
    </li>
  <% end %>
</ul>
<%= button_to "Edit Tag", edit_user_tag_url(current_user, @tag), method: :get %>
<br>
<%= button_to "Delete Tag", user_tag_url(current_user, @tag), method: :delete %>