<div class="notes-list-header">
  <% if (type === "all") { %>
    <i class="fa fa-book"></i>
    All Notes
  <% } else if (type === "notebook") { %>
    <i class="fa fa-book"></i>
    <%= model.get("name") %>
  <% } else if (type === "tag") { %>
    <i class="fa fa-tag"></i>
    <%= model.get("name") %>
  <% } else if (type === "friend") { %>
    Friend info here
  <% } %>
</div>
<ul class="notes">
  <% notes.each(function(note) { %>
    <li>
      <a href="<%= "/#/notes/" + note.get("id") %>">
        <article class="note-preview
            <%= (note.get('id') === BetterNote.featuredNote.get('id')) ? " selected" : "" %>">
          <div class="note-preview-title">
            <%= note.get("title") %>
          </div>
          <div class="note-preview-body">
            <span class="note-preview-time">
              <%= moment(note.get("created_at")).fromNow() %>
            </span>
            <%= note.get("body") %>
          </div>
        </article>
      </a>
    </li>
  <% }) %>
</ul>
<div class="notes-list-footer group">
  <div class="notes-list-footer-left dropdown-parent">
    <div class="notes-list-footer-left-text">
      View Options
      <i class="fa fa-caret-up"></i>
    </div>
    <ul class="options-dropdown hidden">
      <li class="options-dropdown-header">
        Sort By
      </li>
      <li class="sort-option" data-sort-field="created_at"
                              data-sort-toggle="-1">
        Date Created (newest first)
      </li>
      <li class="sort-option" data-sort-field="created_at"
                              data-sort-toggle="1">
        Date Created (oldest first)
      </li>
      <li class="sort-option" data-sort-field="updated_at"
                              data-sort-toggle="-1">
        Date Updated (newest first)
      </li>
      <li class="sort-option" data-sort-field="updated_at"
                              data-sort-toggle="1">
        Date Updated (oldest first)
      </li>
      <li class="sort-option" data-sort-field="title"
                              data-sort-toggle="-1">
        Title (ascending)
      </li>
      <li class="sort-option" data-sort-field="title"
                              data-sort-toggle="1">
        Title (descending)
      </li>
    </ul>
  </div>
</div>