<a href="<%= "/#/notes/" + note.escape("id") %>">
  <article class="note-preview
      <%= (note.escape('id') === BetterNote.featuredNote.escape('id')) ? " selected" : "" %>">
    <div class="note-preview-title">
      <%= note.escape("title") %>
    </div>
    <div class="note-preview-body">
      <span class="note-preview-time">
        <%= moment(note.escape("created_at")).fromNow() %>
      </span>
      <%= note.escape("body") %>
    </div>
  </article>
</a>