<header class="note-show-top group">
  <div class="note-show-header-left top">
    <div class="notebook-name dropdown-parent group">
      <div class="notebook-name-text">
        <i class="fa fa-book"></i>
        <%= note.notebook.escape("name") %>
        &nbsp;<i class="fa fa-angle-down"></i>
      </div>
      <ul class="options-dropdown hidden">
        <% notebooks.each(function(notebook) { %>
          <li data-notebook-id="<%= notebook.escape("id") %>"
            <%= (notebook === note.notebook) ? "class='selected'" : "" %>>
            <form class="update-notebook">
              <input type="hidden" name="note[notebook_id]"
                value="<%= notebook.escape("id") %>">
              <div class="submit">
                <button>
                  <i class="fa fa-book"></i>&nbsp;
                  <%= notebook.escape("name") %>
                </button>
              </div>
            </form>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="note-show-header-right top dropdown-parent">
    <div class="info-text">
      INFO&nbsp;
      <i class="fa fa-info-circle"></i>
    </div>
  </div>
</header>
<header class="note-show-bottom group">
  <div class="note-show-header-left">
    <ul class="dates">
      <li>
        Created: <%= moment(note.escape("created_at")).format('MMM D, YYYY') %>
      </li>
      <li>
        Modified: <%= moment(note.escape("updated_at")).format('MMM D, YYYY') %>
      </li>
    </ul>
  </div>
  <div class="note-show-header-right bottom">
    <div class="note-show-button delete-note">
      DELETE
      <i class="fa fa-trash-o"></i>
    </div>
  </div>
</header>
<div class="note-content">
  <form class="note-title">
    <input type="text" name="note[title]"
      id="note-title" value="<%= note.escape('title') %>">
  </form>
  <form class="note-body">
    <textarea name="note[body]" id="note-body"><%= note.escape("body") %></textarea>
  </form>
</div>