<header class="note-show-top group">
  <div class="note-show-header-left">
    <div class="notebook-name dropdown-parent group">
      <div class="notebook-name-text">
        <i class="fa fa-book"></i>
        <%= note.notebook.get("name") %>
        &nbsp;<i class="fa fa-angle-down"></i>
      </div>
      <ul class="options-dropdown hidden">
        <% notebooks.each(function(notebook) { %>
          <li data-notebook-id="<%= notebook.get("id") %>"
            <%= (notebook === note.notebook) ? "class='selected'" : "" %>>
            <form class="update-notebook">
              <input type="hidden" name="note[notebook_id]"
                value="<%= notebook.get("id") %>">
              <div class="submit">
                <button>
                  <i class="fa fa-book"></i>&nbsp;
                  <%= notebook.get("name") %>
                </button>
              </div>
            </form>
          </li>
        <% }) %>
      </ul>
    </div>
    <ul class="tags">
      <% note.tags.each(function(tag) { %>
        <li>
          <%= tag.get("name") %>
        </li>
      <% }) %>
      <li>
        <%= (note.tags.length > 0) ? "+  " : "+ Tag  " %>
      </li>
    </ul>
  </div>
  <div class="note-show-header-right">
    <div class="info-text">
      INFO&nbsp;
      <i class="fa fa-info-circle"></i>
    </div>
  </div>
</header>
<header class="note-show-bottom group">
  <div class="note-show-header-left">
    <ul class="dates">
      <li>
        Created: <%= moment(note.get("created_at")).format('MMM D, YYYY') %>
      </li>
      <li>
        Modified: <%= moment(note.get("updated_at")).format('MMM D, YYYY') %>
      </li>
    </ul>
  </div>
  <div class="note-show-header-right">
    <div class="note-show-button">
      LIKE
      <i class="fa fa-thumbs-o-up"></i>
    </div>
    <a href="<%= "#/notes/" + note.get("id") + "/edit" %>" class="note-show-button">
      EDIT
      <i class="fa fa-file-text-o"></i>
    </a>
    <a href="<%= "#/notes/" + note.get("id") + "/delete" %>" class="note-show-button">
      DELETE
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
</header>
<div class="note-content">
  <div class="note-title">
      <%= note.get('title') %>
  </div>
  <div class="note-body">
    <%= note.get("body") %>
  </div>
</div>

<section class="comments">
</section>