<header class="note-show-top group">
  <div class="note-show-header-left">
    <div class="notebook-name dropdown-parent group">
      <div class="notebook-name-text">
        <i class="fa fa-book"></i>
        <%= note.notebook.get("name") %>
        &nbsp;<i class="fa fa-angle-down"></i>
      </div>
      <ul class="options-dropdown hidden">
        <% notebooks.each(function(notebook) { %>
          <li data-notebook-id="<%= notebook.get("id") %>"
            <%= (notebook === note.notebook) ? "class='selected'" : "" %>>
            <form class="update-notebook">
              <input type="hidden" name="note[notebook_id]"
                value="<%= notebook.get("id") %>">
              <div class="submit">
                <button>
                  <i class="fa fa-book"></i>&nbsp;
                  <%= notebook.get("name") %>
                </button>
              </div>
            </form>
          </li>
        <% }) %>
      </ul>
    </div>
    <ul class="tags">
      <% note.tags.each(function(tag) { %>
        <li>
          <i class="fa fa-tag"></i>
          <%= tag.get("name") %>
          <span class="delete-tag"
            data-tag-id="<%= tag.get("id") %>">
            &times;
          </span>
        </li>
      <% }) %>
      <li class="add-tag dropdown-parent">
        <%= (note.tags.length > 0) ? "+  " : "+ Tag  " %>
        <ul class="options-dropdown hidden">
          <% BetterNote.tags.each(function(tag) { %>
            <% if (!note.tags.get(tag)) { %>
              <li data-tag-id="<%= tag.get("id") %>">
                <button>
                  <i class="fa fa-tag"></i>&nbsp;
                  <%= tag.get("name") %>
                </button>
              </li>
            <% } %>
          <% }) %>
        </ul>
      </li>
    </ul>
  </div>
  <div class="note-show-header-right dropdown-parent">
    <div class="info-text">
      INFO&nbsp;
      <i class="fa fa-info-circle"></i>
    </div>
    <%= JST["notes/info"]({ note: note }) %>
  </div>
</header>
<header class="note-show-bottom group">
  <div class="note-show-header-left">
    <ul class="dates">
      <li>
        Created: <%= moment(note.get("created_at")).format('MMM D, YYYY') %>
      </li>
      <li>
        Modified: <%= moment(note.get("updated_at")).format('MMM D, YYYY') %>
      </li>
    </ul>
  </div>
  <div class="note-show-header-right">
    <% if (note.currentUserLike()) { %>
      <div class="note-show-button unlike-note">
        REMOVE LIKE
        <i class="fa fa-thumbs-o-down"></i>
      </div>
    <% } else { %>
      <div class="note-show-button like-note">
        LIKE
        <i class="fa fa-thumbs-o-up"></i>
      </div>
    <% } %>
    <div class="note-show-button delete-note">
      DELETE
      <i class="fa fa-trash-o"></i>
    </div>
  </div>
</header>
<div class="note-content">
  <form class="note-title">
    <input type="text" name="note[title]"
      id="note-title" value="<%= note.get('title') %>">
  </form>
  <form class="note-body">
    <textarea name="note[body]" id="note-body"><%= note.get("body") %></textarea>
  </form>
</div>