<!DOCTYPE html>
<html>
<head>
  <title>BetterNote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "static_pages/nav" %>
<%= render partial: "static_pages/search_bar" %>

<div class="errors">
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div>


<div class="content">
  <div class="left-absolute">
    <%= render partial: "static_pages/sidebar" %>
    <%= yield %>
</div>

</body>
</html>
