<!DOCTYPE html>
<html>
<head>
  <title>BetterNote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/assets/green_icon.png">
  <%= csrf_meta_tags %>
</head>
<body>

<script type="application/json" id="bootstrapped-data-json">
  { "notes": <%= render(partial: "notes/index.json", locals: { notes: current_user.notes.includes(:notebook, :comments, :tags, :note_tags, :likes) }).html_safe %>,
    "notebooks": <%= current_user.notebooks.to_json.html_safe %>,
    "tags": <%= current_user.tags.to_json.html_safe %>,
   "user": <%= render(partial: "users/show.json", locals: { user: current_user }).html_safe %>,
   "friends": <%= render(partial: "users/friends.json", locals: { friends: current_user.friends.includes(:tags, :notebooks, notes: [:comments, :likes, :note_tags]) }).html_safe %>
  }
</script>

<%= render partial: "static_pages/nav" %>

<div class="errors">
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div>

<section class="content">
  <%= yield %>
</section>

<section id="modal" class="hidden">
  <article class="modal-content"></article>
  <div class="modal-screen close-modal"></div>
</section>

</body>
</html>