<!DOCTYPE html>
<html>
<head>
  <title>BetterNote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/assets/note_icon_green.png">
  <%= csrf_meta_tags %>
</head>
<body>

<script type="application/json" id="bootstrapped-data-json">
  { "notes": <%= current_user.notes
        .includes(:comments, :notebook, :tags)
        .to_json(include: [:comments, :notebook, :tags])
        .html_safe
    %>,
    "notebooks": <%= current_user.notebooks.to_json.html_safe %>,
    "tags": <%= current_user.tags.to_json.html_safe %>,
   "user": <%= current_user.to_json.html_safe %>,
   "friends": <%= current_user.friends
         .to_json
         .html_safe
     %>
  }
</script>

<%= render partial: "static_pages/nav" %>
<%= render partial: "static_pages/search_bar" %>

<div class="errors">
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div>

<section class="content">
  <%= render partial: "static_pages/sidebar" %>
  <%= yield %>
</section>

<section id="modal" class="hidden">
  <article class="modal-content"></article>
  <div class="modal-screen close-modal"></div>
</section>

</body>
</html>