<!DOCTYPE html>
<html>
<head>
  <title>BetterNote</title>
  <%= stylesheet_link_tag    "public" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="group">
  <div class="nav-left">
    <a href="<%= root_url %>">
      <span class="logo">
        <i class="fa fa-file-text"></i>&nbsp;
        BETTERNOTE
      <span>
    </a>
  </div>
</header>

<div class="errors">
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div>

<h1>Welcome to BetterNote</h1>
<h3>Like Evernote.  But Better*.</h3>

<div class=content>
  <%= yield %>
</div>


<footer>
  <div class="disclaimer">
    *Not actually.  Evernote rocks.
  </div>
  <div class="copyright">
    Copyright 2014 BetterNote Corporation. All rights reserved.
  </div>
</footer>

</body>
</html>