DELETE
<div class="notes-list-header">
  <i class="fa fa-tag"></i>
  <%= tag.get("name") %>
</div>
<ul class="notes">
  <% tag.notes.each(function(note) { %>
    <li>
      <a href="<%= "/#/notes/" + note.get("id") %>">
        <article class="note-preview">
          <div class="note-preview-title">
            <%= note.get("title") %>
          </div>
          <div class="note-preview-body">
            <span class="note-preview-time">
              <%= moment(note.get("created_at")).fromNow() %>
            </span>
            <%= note.get("body") %>
          </div>
        </article>
      </a>
    </li>
  <% }) %>
</ul>
<div class="notes-list-footer group">
  <div class="notes-list-footer-left">
      View Options
      <i class="fa fa-caret-up"></i>
    <ul class="options-dropdown">
      <li class="options-dropdown-header">
        Sort By
      </li>
      <li>
        <a href="#">
          Date Created (newest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Created (oldest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Updated (newest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Updated (oldest first)
        </a>
      </li>
      <li>
        <a href="#">
          Title (ascending)
        </a>
      </li>
      <li>
        <a href="#">
          Title (descending)
        </a>
      </li>
    </ul>
  </div>
</div>